
<div class="content">

	<div class="bannerbox">
		<div class="slider">
			<div class="title">Featured Updates</div>
			<div class="tab_imgs">
				<ul>
					<li style="display:block"><img src="images/slider_img1.jpg" /></li>
					<li><img src="images/slider_img2.jpg" /></li>
					<li><img src="images/slider_img3.jpg" /></li>
					<li><img src="images/slider_img2.jpg" /></li>
				</ul>
			</div>
			<div class="tab_menu">
				<a href="javascript:void(0);" class="active">
					<img src="images/slider_thumb_img1.jpg" align="left" />
					<p><span>Myfinancialfit.com</span><br />Financial Aid Tools</p>
				</a>
				<a href="javascript:void(0);">
					<img src="images/slider_thumb_img2.jpg" align="left" />
					<p><span>Tips for Saving Money</span><br />Financial Aid Process</p>
				</a>
				<a href="javascript:void(0);">
					<img src="images/slider_thumb_img3.jpg" align="left" />
					<p><span>MCC Documentary</span><br />Financial Aid Tools</p>
				</a>
				<a href="javascript:void(0);">
					<img src="images/slider_thumb_img4.jpg" align="left" />
					<p><span>Tips for Saving Money</span><br />Financial Aid Process</p>
				</a>
			</div>
		</div>
		<div class="searchbar">
			<div class="text">Explore</div>
			<div class="search">
				<input type="text" value="Explore topics and titles..." />
				<a href="javascript:void(0);">&nbsp;</a>
			</div>
			<div class="view"><a href="javascript:void(0);">&nbsp;</a></div>
		</div>
	</div>

	<div class="welcome">
		<div class="left">
			<p>
				<span>JANUARY 26, 2010</span><br />
				<b>WELCOME TO MANAGINGCOLLEGECOST.COM</b><br />
				Cras nec enim sed dolor tempus cursus. Duis vel libero urna, eget auctor arcu. Aliquam molestie tortor ac odio convallis pellentesque. Aenean hendrerit fringilla dictum. Aenean eget purus tellus. Praesent Anc  congue magna. Aliquam sit amet ante sit amet enim pretium scelerisque. Donec quis augue nulla. Proin non enim sed leo auctor ornare.
			</p>
			<p><a href="javascript:void(0);" class="sign">&nbsp;</a></p>
		</div>
		<div class="right">
			<img src="images/welcome_vido.gif" width="342" height="165" />
		</div>
	</div>

	<div class="conleft">
		<div class="blog">
			<h1><span>from the blog</span><a href="javascript:void(0);">»view all posts</a></h1>
			<table cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td width="50%">
						<span>JANUARY 26, 2010</span>
						<h3>This is what a blog post will look like its cool.</h3>
						<p>Cras nec enim sed dolor tempus cursus. Duis vel libero urna, eget auctor arcu. Aliquam molestie tortor ac odio convallis pellentesque. Aenean hendrerit fringilla dictum. Aenean eget purus tellus. Praesent ac congue magna. </p>
						<p>Aliquam sit amet ante sit amet enim pretium scelerisque. nascetur ridiculus mus. Aliquam ut neque libero. Ut neque libero, ut lobortis dui. Vivamus elementum dui sit.</p>
					</td>
					<td width="50%">
						<span>JANUARY 26, 2010</span>
						<h3>This is what a blog post will look like its cool.</h3>
						<p>Cras nec enim sed dolor tempus cursus. Duis vel libero urna, eget auctor arcu. Aliquam molestie tortor ac odio convallis pellentesque. Aenean hendrerit fringilla dictum. Aenean eget purus tellus. Praesent ac congue magna. </p>
						<p>Aliquam sit amet ante sit amet enim pretium scelerisque. nascetur ridiculus mus. Aliquam ut neque libero. Ut neque libero, ut lobortis dui. Vivamus elementum dui sit.</p>
					</td>
				</tr>
				<tr>
					<td width="50%">
						<span>JANUARY 26, 2010</span>
						<h3>This is what a blog post will look like its cool.</h3>
						<p>Cras nec enim sed dolor tempus cursus. Duis vel libero urna, eget auctor arcu. Aliquam molestie tortor ac odio convallis pellentesque. Aenean hendrerit fringilla dictum. Aenean eget purus tellus. Praesent ac congue magna. </p>
						<p>Aliquam sit amet ante sit amet enim pretium scelerisque. nascetur ridiculus mus. Aliquam ut neque libero. Ut neque libero, ut lobortis dui. Vivamus elementum dui sit.</p>
					</td>
					<td width="50%">
						<span>JANUARY 26, 2010</span>
						<h3>This is what a blog post will look like its cool.</h3>
						<p>Cras nec enim sed dolor tempus cursus. Duis vel libero urna, eget auctor arcu. Aliquam molestie tortor ac odio convallis pellentesque. Aenean hendrerit fringilla dictum. Aenean eget purus tellus. Praesent ac congue magna. </p>
						<p>Aliquam sit amet ante sit amet enim pretium scelerisque. nascetur ridiculus mus. Aliquam ut neque libero. Ut neque libero, ut lobortis dui. Vivamus elementum dui sit.</p>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="conright">

		<div class="partner">
			<img src="images/partners_img.jpg" />
		</div>

	</div>

	<div class="clear"></div>

</div>
<%#
  # provide a default array for collecting CSS for sections
  css = []

  # if 'sections' is passed in as a local_assigns, all of this is ignored.
  if local_assigns[:sections].blank?
    # always have a title
    sections = [{:yield => :body_content_title, :fallback => page_title, :title => true}]

    # append sections from this page.
    @page.parts.inject(sections) do |s, part|
      # we have some default yields, body_content_left and body_content_right
      # these map to 'body' and 'side_body' fields in default Refinery.
      section = {:fallback => part.body}
      section[:yield] = case (title_symbol = part.title.to_s.gsub(/\ /, '').underscore.to_sym)
        when :body then :body_content_left
        when :side_body then :body_content_right
        else title_symbol
        end

      # add section to the list unless we were specifically requested not to.
      # otherwise, add css saying it's been removed.
      unless (local_assigns[:hide_sections]||=[]).include?(section[:yield])
        s << section
      else
        css << "no_#{section[:yield]}"
      end
    end unless @page.nil? or @page.parts.blank?

    # Ensure that even without @page.parts we still have body_content_left and body_content_right
    all_yields = sections.collect{|s| s[:yield]}
    sections << {:yield => :body_content_left} unless all_yields.include?(:body_content_left)
    sections << {:yield => :body_content_right} unless all_yields.include?(:body_content_right)
  end

  # you can add more sections to the list using something like this:
  # sections |= [{:yield => :something_else, :fallback => another_method, :id => 'something'}]

  sections.each do |section|
    section[:html] = yield(section[:yield]) if section[:yield].present?

    if section[:html].blank? and !local_assigns[:show_empty_sections] and
       !local_assigns[:remove_automatic_sections] and section.keys.include?(:fallback) and
       section[:fallback].present?
      section[:html] = raw(section[:fallback])
    end

    dom_id = section[:id] || section[:yield]
    if section[:html].present?
      if section[:title]
        section[:html] = "<h1 id='#{dom_id}'>#{section[:html]}</h1>".html_safe
      else
        section[:html] = "<section id='#{dom_id}'><div class='inner'>#{section[:html]}</div></section>".html_safe
      end
    else
      css << "no_#{dom_id}"
    end
  end
-%>
<!--

<section id='body_content'<#%= " class='#{css.join(' ')}'" if css.present? %>>
  <%#= raw sections.map{|section| section[:html]}.join("\n") -%>
</section>
<%#@= render :partial => '/shared/draft_page_message' unless @page.nil? or @page.live? -%>
-->