<!-- footer -->
<div class="footer">
	<div class="left">
		<a href="javascript:void(0);" class="t">Follow us on Twitter</a>
		<a href="javascript:void(0);" class="f">Become a fan on Facebook</a>
	</div>
	<div class="right">
		<span>&copy; <%= Time.now.year %> managingcollegecost.com &nbsp;&nbsp;</span>
		<a href="javascript:void(0);">About</a> <span>•</span>
		<a href="javascript:void(0);">Contact</a> <span>•</span>
		<a href="javascript:void(0);">Privacy Policy</a> <span>•</span>
		<a href="javascript:void(0);">Terms of Use</a>
	</div>
</div>
<!-- End footer -->