
<!-- footer -->
<div class="footer">
	<div class="left">
		<a href="javascript:void(0);" class="t">Follow us on Twitter</a>
		<a href="javascript:void(0);" class="f">Become a fan on Facebook</a>
	</div>
	<div class="right">
		<span>&copy; 2011 managingcollegecost.com &nbsp;&nbsp;</span>
		<a href="javascript:void(0);">About</a> <span>•</span>
		<a href="javascript:void(0);">Contact</a> <span>•</span>
		<a href="javascript:void(0);">Privacy Policy</a> <span>•</span>
		<a href="javascript:void(0);">Terms of Use</a>
	</div>
</div>
<!-- End footer -->
<!--
<p>
  <%#= t('.copyright', :year => Time.now.year,
                      :site_name => RefinerySetting.find_or_set(:site_name, "Company Name")) %>
</p>
-->