
<!-- header -->
<div class="header">

	<div class="topbar">
		<div class="icon"><img src="images/topbar_icon.gif" /></div>
		<div class="text">To calculate your affordavility visit: myfinancialfit.com</div>
		<div class="link"><a href="javascript:void(0);">advertise</a><a href="javascript:void(0);">help</a></div>
	</div>

	<div class="toolbar">
		<a href="javascript:void(0);" class="logo"><img src="images/logo.png" /></a>
		<div class="accmenu">
			<a href="javascript:void(0);">Sign Up</a>
			<span>|</span>
			<a href="javascript:void(0);">Sign In</a>
			<a href="javascript:void(0);" class="acc"></a>
		</div>
		<div class="topmenu">
			<a href="index.html"><span>Home</span></a>
			<a href="video.html"><span>Videos</span></a>
			<a href="blog.html"><span>Blog</span></a>
			<a href="javascript:void(0);"><span>Resources</span></a>
			<a href="javascript:void(0);"><span>Events</span></a>
			<a href="contact.html"><span>Contact</span></a>
		</div>
	</div>

	<div class="sign">
		<span>The college website for parents.</span>
		<a href="javascript:void(0);"></a>
	</div>

</div>


<h1 id='logo'>
  <%= link_to RefinerySetting.find_or_set(:site_name, "Company Name"), root_path %>
</h1>
<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
