<div class="bannerbox">
	<div class="slider">
		<div class="title">Featured Updates</div>
		<div class="tab_imgs">
			<ul>
				<li style="display:block"><img src="images/slider_img1.jpg" /></li>
				<li><img src="images/slider_img2.jpg" /></li>
				<li><img src="images/slider_img3.jpg" /></li>
				<li><img src="images/slider_img2.jpg" /></li>
			</ul>
		</div>
		<div class="tab_menu">
			<a href="javascript:void(0);" class="active">
				<img src="images/slider_thumb_img1.jpg" align="left" />
				<p><span>Myfinancialfit.com</span><br />Financial Aid Tools</p>
			</a>
			<a href="javascript:void(0);">
				<img src="images/slider_thumb_img2.jpg" align="left" />
				<p><span>Tips for Saving Money</span><br />Financial Aid Process</p>
			</a>
			<a href="javascript:void(0);">
				<img src="images/slider_thumb_img3.jpg" align="left" />
				<p><span>MCC Documentary</span><br />Financial Aid Tools</p>
			</a>
			<a href="javascript:void(0);">
				<img src="images/slider_thumb_img4.jpg" align="left" />
				<p><span>Tips for Saving Money</span><br />Financial Aid Process</p>
			</a>
		</div>
	</div>
	<div class="searchbar">
		<div class="text">Explore</div>
		<div class="search">
			<input type="text" value="Explore topics and titles..." />
			<a href="javascript:void(0);">&nbsp;</a>
		</div>
		<div class="view"><a href="javascript:void(0);">&nbsp;</a></div>
	</div>
</div>

<div class="welcome">
	<div class="left">
		<p>
			<span>JANUARY 26, 2010</span><br />
			<b>WELCOME TO MANAGINGCOLLEGECOST.COM</b><br />
			Cras nec enim sed dolor tempus cursus. Duis vel libero urna, eget auctor arcu. Aliquam molestie tortor ac odio convallis pellentesque. Aenean hendrerit fringilla dictum. Aenean eget purus tellus. Praesent Anc  congue magna. Aliquam sit amet ante sit amet enim pretium scelerisque. Donec quis augue nulla. Proin non enim sed leo auctor ornare.
		</p>
		<p><a href="javascript:void(0);" class="sign">&nbsp;</a></p>
	</div>
	<div class="right">
		<img src="images/welcome_vido.gif" width="342" height="165" />
	</div>
</div>

<div class="conleft">
	<div class="blog">
		<h1><span>from the blog</span><a href="javascript:void(0);">»view all posts</a></h1>
		<table cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td width="50%">
					<span>JANUARY 26, 2010</span>
					<h3>This is what a blog post will look like its cool.</h3>
					<p>Cras nec enim sed dolor tempus cursus. Duis vel libero urna, eget auctor arcu. Aliquam molestie tortor ac odio convallis pellentesque. Aenean hendrerit fringilla dictum. Aenean eget purus tellus. Praesent ac congue magna. </p>
					<p>Aliquam sit amet ante sit amet enim pretium scelerisque. nascetur ridiculus mus. Aliquam ut neque libero. Ut neque libero, ut lobortis dui. Vivamus elementum dui sit.</p>
				</td>
				<td width="50%">
					<span>JANUARY 26, 2010</span>
					<h3>This is what a blog post will look like its cool.</h3>
					<p>Cras nec enim sed dolor tempus cursus. Duis vel libero urna, eget auctor arcu. Aliquam molestie tortor ac odio convallis pellentesque. Aenean hendrerit fringilla dictum. Aenean eget purus tellus. Praesent ac congue magna. </p>
					<p>Aliquam sit amet ante sit amet enim pretium scelerisque. nascetur ridiculus mus. Aliquam ut neque libero. Ut neque libero, ut lobortis dui. Vivamus elementum dui sit.</p>
				</td>
			</tr>
			<tr>
				<td width="50%">
					<span>JANUARY 26, 2010</span>
					<h3>This is what a blog post will look like its cool.</h3>
					<p>Cras nec enim sed dolor tempus cursus. Duis vel libero urna, eget auctor arcu. Aliquam molestie tortor ac odio convallis pellentesque. Aenean hendrerit fringilla dictum. Aenean eget purus tellus. Praesent ac congue magna. </p>
					<p>Aliquam sit amet ante sit amet enim pretium scelerisque. nascetur ridiculus mus. Aliquam ut neque libero. Ut neque libero, ut lobortis dui. Vivamus elementum dui sit.</p>
				</td>
				<td width="50%">
					<span>JANUARY 26, 2010</span>
					<h3>This is what a blog post will look like its cool.</h3>
					<p>Cras nec enim sed dolor tempus cursus. Duis vel libero urna, eget auctor arcu. Aliquam molestie tortor ac odio convallis pellentesque. Aenean hendrerit fringilla dictum. Aenean eget purus tellus. Praesent ac congue magna. </p>
					<p>Aliquam sit amet ante sit amet enim pretium scelerisque. nascetur ridiculus mus. Aliquam ut neque libero. Ut neque libero, ut lobortis dui. Vivamus elementum dui sit.</p>
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="conright">

	<div class="partner">
		<img src="images/partners_img.jpg" />
	</div>

</div>
